#maindiv{
    border: 1px solid #000;
    width: 700px;
    height: 700px;
    background-color: aqua;
    display: grid;
    
}

.subdiv{
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    background-color: blueviolet;
}

