#body{
    background-color: #560aee;
    
  
}
#mainBox {
  border: 1px solid #000;
  width: 500px;
  height: 400px;
  margin-left:100px ;
  margin: right 10px auto;
  margin-top: 150px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgb(12, 12, 12);
  background-color: rgba(252, 253, 250, 0.946);
}
#formHeading {
  color: rgb(20, 20, 22);
  
}

#loginForm {
  width: fit-content;
  margin: 30px auto;
  text-align: center;
}

.formFeild {
  margin: 30px;
  label {
    color: rgb(14, 14, 15);
    font-size: large;
  }

  input {
    padding: 10px;
    
    border: 2px solid black;
    outline-color: rgb(13, 11, 15);
  }
}




#loginnow{
    background-color: #1f1fe9;
    border: 10px solid rgb(10, 3, 3);
    padding: 20px;
    width: fit-content;
}

#Signup{
    background-color: #260bf2;
}

#formControl {
  text-align: center;
  button {
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
  }
}

#forgotButton {
  
  background-color: #290ff0;
  color: rgb(44, 155, 252);
}

#loginButton {
     margin: 10px;
   
  border: 10px solid #3117f0;
  background-color: #3c0ae1;
  color: rgb(91, 15, 223); 
  

}

#forgotButton:hover {
  color: #f74c4c;
  background-color: rgb(19, 131, 229);
}

#loginButton:hover {
  color: #1f1fdc;
 
}







#mainBox1 {
  border: 1px solid #000;
  width: 500px;
  height: 600px;
  margin:left 100px;
  margin-right: 200px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgb(20, 3, 3);
  background-color: rgba(255, 255, 255, 0.51);
}
#formHeading1 {
  color: rgb(20, 20, 22);
  /* border: 1px solid black; */
    padding: 10px;
    width: fit-content;
  
  
}

#loginForm1 {
  width: fit-content;
  margin: 30px auto;
  text-align: center;
}

.formFeild1{
  margin: 30px;
  label {
    color: rgb(21, 19, 23);
    font-size: large;
  }

  input {
    padding: 10px;
    
    border: 2px solid black;
    outline-color: rgb(13, 6, 18);
  }
}

#Registration1{
    /* background-color: #4312e3;
  text-align: center;
  margin-left: 80px;
    
    width: fit-content; */
      margin: 10px;
     
  border: 10px solid #3117f0;
  background-color: #3c0ae1;
  color: rgb(10, 139, 251);
}


#checkbox{
   margin-bottom: 10px;






#formControl1 {
  text-align: center;
  button {
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
  }
}



#loginButton1 {
    margin: 10px;
  border: 10px solid #260ced;
  background-color: #4312e3;
  color: rgb(29, 140, 237);
}


#loginButton1:hover {
  color: #7f7ff3;
  background-color: rgb(239, 243, 246);
}



}