
#main{
  background-color: aquamarine;
}


#head{
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: aquamarine; */
  width: fit-content;


}
#text{
  font-size: 20px;
  font-weight: bold;


}

#lorem{
  font-size: 10px;
}