#portfolio{
    margin: 0;
    padding: 0;
    
}

.NavBar {
  /* border: 1px solid black; */
  background-color: rgba(255, 255, 255, 0.923);
  color: rgb(20, 22, 23);
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  /* width: 90%; */

}




   
 img{
    width: 45%;
    object-fit:cover;
    border-radius: 0;
    display:inline-table;
    border-radius: 5%;
    /* margin-left: 500px; */
   

} 

    /* display:flex; */
   





#links,#mail,#signin{
    display: flex;
    gap: 100px;


}

#em{
    border-radius: 5px;
}

#photos{
    display:inline-flex;
    
}


#BLOCKS , #REQUIRE{
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;

}

#world{
    margin: 0;
}

#awesome{
   text-align:center;
}

#skills{

   text-align: center; 
  display: block;
  align-content: center;
  justify-content:space-between;


}


#id{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  gap: 20px;
  margin: 20px auto;
}


#ipt{
  display: grid;
  gap: 20px; 
  justify-content: space-between;
  grid-template-columns: repeat(4,1fr);
  margin: 30px;
}



.but{
   border: none;
  width: 150px;
  height: 25px;
 padding: 5px 10px;
  background-color: black;
  color: white;
  display: block;
  border-radius: 5px; 
  font-size: 15px;
  text-align: center; 

}




#dev{

   text-align: center; 
  padding: 40px;
  margin-left: 20px;
  border-radius: 10px; 
}


#dev img{
  text-align: justify;
  margin-right: 40px;
  box-shadow: 3px;
  border-radius: 5px;
  border: none; 
  width: 100%;
  height: auto;
}


#resume{
  display: flex;       
  align-items: flex-start;      
  justify-content:flex-start;
  gap: 35%;      
  padding-left: 50px;              
  background-color: white;    
  color: black; 
}

#myDetail img {
  width: 700px;
  height: 700px;
  border-radius: 15px;
  margin-right: 75px;
  object-fit:fill;
  box-shadow: 0 0 15px rgba(0, 188, 212, 0.5);
}

