/* h1{
    width: 200px;
    border: 2px solid black;
    text-align: 0;
    margin-left: 0px;
    /* background-color: orangered;
}
  
/* #outer{ */
    /* width: 500px;
    height: 50px;
    border: 2px solid #000;

    #inner{
        width: 0%;
       
        background-color: #d61010;
        
    }
} */

/* 
#outer:hover{
    #inner{
        width: 100%;
        height: 50px;
        background-color: aqua;
        transition: width 5s ease-in-out,background-color 5s ease-in-out;

    }
}

h1:hover{ */
    /* margin-left: 200px; */
    /* transition: margin-left 5s;
   width: 500px;
    transition:width 10s  ;   */
/* }
  */

#outer1{
    width: 500px;
    height: 50px;
    border: 2px solid #000;

    #inner1{
        height: 100%;
        
    }
}


#outer1:hover{
    #inner1{
        
        animation: myAnimation 5s linear;

    }
}

@keyframes myAnimation {
    0%{
        width: 0%;
        background-color: red;

    }

    50%{
         width: 50%;
        background-color: yellow;
    }
     100%{
         width: 100%;
        background-color: green;
    }
    
}